/*Задайте заливку h1 цветом #ff6600 для заголовка h1 -->*/
h1 {
  background-color: #ff6600;
}

/*Задайте заливку h2 цветом #3366cc для заголовка h2*/
h2 {
  background-color: #3366cc;
}

/*Добавьте стиль, чтобы заголовки имели белый цвет текста*/
h1,
h2 {
  color: #fff;
}
